@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background: -webkit-gradient(linear, left bottom, left top, from(#002fff), to(#0077ff)) fixed;
}

.center{
    max-width: 500px;
    margin: 0 auto;
    padding:0 2%;
}

section.box1{
    margin-top:50px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 100%;
    max-width: 135px;
}

.logo img{
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.img-logo:hover{
    border-color: black;
}
.img-logo{
    border:2px solid white;
    border-radius: 50%;
    padding:3px;
    transition: 0.3s;
}

.desc{
    text-align: center;
    color: white;
    margin:10px 0;
}

.desc h2{
    font-weight: normal;
}

.desc p{
    color: #dfdfdf;
}

.link{
    width: 100%;
    text-align: center;
}

.link a{
    color: white;
    text-decoration: none;
}

.link .link-a:hover{
    background: white;
    color: #0077ff;
}

.link .link-a{
    position: relative;
    border-radius: 7px;
    border:2px solid white;
    padding:10px;
    margin:17px 0;
    transition: 0.3s;
}

.link .link-a i{
    position: absolute;
    left: 20px;
    line-height: 1;
    font-size: 23px;
}

.link .link-a h3{
    font-weight: normal;
}

.link2{
    margin-top:10px;
}

.link2 i:hover{
    transform: scale(1.3);
}

.link2 i{transition: 0.3s;}

.link2 a{
    color: #dfdfdf;
    font-size: 25px;
    margin:0 5px;
}